doctype html
html(lang="en")
  head
    title Dashboard
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900")
    script(src='components/jquery/dist/jquery.min.js') 
    script(src='components/jquery.countdown/dist/jquery.countdown.min.js') 
    script(src='components/moment/moment.js') 
    script(src='/js/app.js')
  body
    main
      .col1
        time 
          
      .col2
        .countdown 
          p.title Next team building week:
          p.sub 
    aside
