body{
  font-family: 'Roboto', sans-serif;
  background: url(/images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#fff;
  margin: 0;
}
main{
  overflow: hidden;
  margin: 0 2rem;
}
.col1{
  float: left;
  width: 20%;

}
.col2{
  float: left;
  width: 80%;
}
time{
  margin: 0 1rem;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, .1);
  padding: 2vh 2vw;
  display: block;
  text-align: left;
  border-top: 0;
  p{
    margin: 0 0 .3rem 0;
  }
  .day{
    font-weight: 500;
    font-size: 1.8vw;
  }
  .date{
    font-weight: 100;
    font-size: 1.8vw;
  }
  .hour{
    font-weight: 100;
    font-size: 1.8vw;
  }

}
.countdown{
  text-align: right;
  padding: 9vh 5vw 0 0;
  
  p{
    margin: 0 0 .3rem 0;
  }
  .title{
    font-size: 5vw;
    font-weight: 100;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .sub{
    font-size: 7vw;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    span{
      font-size: 5vw;
      font-weight: 100;
    }
  }
}
